<h1>Hello Games</h1>
<table border="true">
  <% @games.each do | game | %>
  <tr>
    <td>
      <%=game.name%>
    </td>
    <td>
      <%=game.rating%>
    </td>
    <td>
      <%=game.thoughts%>
    </td>
  </tr>
  <% end %>
</table>
<%= link_to "Make a new game, sucka.", new_games_path %>
